<h1>Your Dashboard</h1>
{{#each posts}}
    <article>
        <h2>{{title}}</h2>
        <p>{{contents}}</p>
        <a href="/post/edit/{{id}}">Edit</a>
        <a href="/post/delete/{{id}}">Delete</a>
    </article>
{{/each}}
<a href="/post/new">Create New Post</a>
