<div class="blog-posts">
    {{#each blogs as |blog|}}
    <div class="blog-post">
        <h2>{{blog.title}}</h2>
        <p>{{blog.content}}</p>
        <p>Posted by: {{blog.author.username}} on {{blog.createdAt}}</p>
        <!-- Add more content as needed -->
    </div>
    {{/each}}
</div>
