<h1>Login</h1>

<form class="login-form">
    <input id="username-login" type="text" placeholder="Username" />
    <input id="password-login" type="password" placeholder="Password" />
    <button type="submit">Login</button>
</form>
