<h1>Signup</h1>

<form class="signup-form">
    <input id="username-signup" type="text" placeholder="Username" />
    <input id="password-signup" type="password" placeholder="Password" />
    <button type="submit">Signup</button>
</form>
